body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	background-color: #849d8f;
	font-weight: 500;
	font-family: "Roboto", "Arial", sans-serif;
}
button,
input,
select,
textarea {
	font-family: "Roboto", "Arial", sans-serif;
}
body > input[type="radio"] {
	display: none;
}
.site-wrapper {
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
	content: "";
	visibility: hidden;
}
.site-wrapper::before {
	background-image: url("../img/ice-cream2-bg.png");
}
.site-wrapper::after {
	background-image: url("../img/ice-cream3-bg.png");
}
.slider {
	position: relative;
	padding-top: 302px;
	text-align: center;
	color: #ffffff;
	z-index: 10;
}
.slide {
	display: none;
}
.slide-title {
	width: 700px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 30px;
	font-weight: 800;
	font-size: 60px;
	line-height: 62px;
}
.slide-btn {
	display: inline-block;
	padding: 8px 40px;
	font-weight: 600;
	font-size: 32px;
	line-height: 44px;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}
.btn {
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	color: #fefefe;
	text-decoration: none;
	text-align: center;
}
.slide-btn:hover,
.promo-btn:hover,
.subscribe-btn:hover,
.connection-form:hover,
.order:hover,
.hover-button:hover,
.login-link:hover {
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.slide-btn:active,
.promo-btn:active,
.subscribe-btn:active,
.connection-form:active,
.order:active,
.hover-button:active,
.login-link:active {
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}
.slider-controls label:hover {
	background-color: rgba(255, 255, 255, 0.4);
}
#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
	display: block;
}
#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
	background-color: #ffffff;
}
#btn-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/ice-cream1-bg.png");
}
#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/ice-cream2-bg.png");
}
#btn-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/ice-cream3-bg.png");
}
.slider-controls {
	position: absolute;
	bottom: 18px;
	left: 0;
	z-index: 20;
	font-size: 0;
}
/* СЕТКА INDEX */
.main-header {
	color: #ffffff;
	margin-bottom: 0px;
}
.container {
	position: relative;
	width: 1146px;
	padding: 0 27px;
	margin-left: auto;
	margin-right: auto;
}
.logo {
	width: 154px;
	height: 64px;
	margin-right: 10px;
	margin-top: 9px;
}
.main-menu > li {
	width: 500px;
	min-height: 64px;
	position: relative;
}
.main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.main .main-link {
	display: inline-block;
	position: relative;
	padding: 8px 14px;
	border-bottom: 10px solid transparent;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	margin-top: 23px;
	margin-right: -1px;
	text-decoration: none;
	vertical-align: bottom;
}
a.under:after {
	content: "";
	position: absolute;
	display: block;
	height: 1px;
	bottom: 8px;
	width: calc(100% - 28px);
	background-color: rgba(255, 255, 255, 0.3);
}
a.under:hover:after,
a.under:active:after {
	background-color: rgba(255, 188, 158, 0.3);
}
a.hide:hover:after {
	display: none;
}
.main-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-menu-layout {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.main a.main-link:hover {
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	border-bottom: none;
	background: #f8f7f4;
	border-radius: 50px;
}
.main a.main-link:active {
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	border-bottom: none;
	background: #ededed;
	border-radius: 50px;
	box-shadow: inset 0 2px 1px 0 #696969;
}
.main a.active {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	border-bottom: none;
	background: #d07058;
	border-radius: 50px;
}
.sub-menu {
	display: none;
	z-index: 1000;
}
.main > li:hover .sub-menu {
	display: block;
}
.main li {
	position: relative;
}
.main-menu .sub-menu {
	position: absolute;
	width: 143px;
	height: 171px;
	margin: 0;
	padding: 0;
	top: 60px;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4) ;
	z-index: 1000;
}
.sub-menu a  {
	display: block;
	list-style: none;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	padding-left: 20px;
	padding-top: 7px;
	padding-bottom: 8px;
	text-decoration: none;
}
.sub-menu li {
	color: #323232;
	font-weight: normal;
}
.sub-menu .sub-active {
	font-weight: 700;
	margin-right: 9px;
	margin-left: 6px;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
}
a.sub-link:hover:not(.act) {
	background-color: #fbded7;
}
a.sub-link:active {
	background-color: #f6b5a5;
}
a.act {
	background-color: #d07058;
}
.user-block {
	width: 261px;
	min-height: 64px;
	margin-left: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.user-block  {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 23px;
	padding: 0px;
	text-decoration: none;
}
.sprite {
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
}
.loupe {
	position: relative;
	z-index: 1000;
}
.loupe-btn {
	position: relative;
	width: 32px;
	height: 32px;
	font-size: 0;
	background-color: rgba(225, 225, 225, 0.2);
	border-radius: 50px;
	background-position: -3px -593px;
	margin-right: 10px;
	border: none;
	padding: 10px;
	box-sizing: border-box;
}
.search {
	display: none;
	position: absolute;
	padding: 0;
	margin: 0;
	width: 341px;
	height: 84px;
	background-color: #f8f7f4;
	border-radius: 5px;
	right: 0px;
	top: 35px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.search-field {
	position: absolute;
	width: 297px;
	height: 44px;
	top: 20px;
	left: 14px;
	border-radius: 5px;
	background-color: #ffffff;
	border: 1px solid #d3d3d2;
	padding-left: 14px;
	font-size: 14px;
	line-height: 24px;
	z-index: 100;
}
.search-label,
.e-mail-label,
.password-label {
	position: absolute;
	font-size: 16px;
	line-height: 24px;
	color: #999999;
	font-weight: normal;
	z-index: 1000;
	top: 32px;
	left: 30px;
}
.password-label {
	top: 95px;
}
.label-main {
	top: 140px;
	left: 40px;
}
.search-field:hover {
	top: 18px;
	left: 12px;
	border: 2px solid #9a9a9a;
}
.search-field:focus {
	border: 2px solid #5b9ddf;
	font-weight: bold;
	outline: none;
}
.search-field:focus ~ .search-label,
.e-mail:focus ~ .e-mail-label,
.password:focus ~ .password-label,
.name:focus ~ .name-label,
.e-mail-answer:focus ~ .e-mail-answer-label,
.comment:focus ~ .comment-label {
	font-size: 11px;
	line-height: 13px;
	color: #5b9ddf;
	top: 3px;
}
.password:focus ~ .password-label {
	top: 70px;
}
.e-mail:focus ~ .label-main {
	top: 110px;
	left: 40px;
}
.loupe:hover .search {
	display: block;
}
.loupe:hover .loupe-btn {
	background-color: #f8f7f4;
	background-position: -3px -630px;
}
.name:focus ~ .name-label {
	top: 45px;
}
.e-mail-answer:focus ~ .e-mail-answer-label {
	top: 115px;
}
.comment:focus ~ .comment-label {
	top: 178px;
}
.enter {
	position: relative;
	width: 92px;
	height: 32px;
	margin-right: 10px;
	background-color: rgba(225, 225, 225, 0.2);
	border-radius: 50px;
	background-position: 6px -193px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
	z-index: 10;
}
.enter-padding {
	position: relative;
	z-index: 1000;
}
.enter-label {
	position: absolute;
	margin-left: 44px;
	margin-top: 8px;
}
.login {
	display: none;
	position: absolute;
	width: 277px;
	height: 214px;
	padding: 0;
	margin: 0px;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4) ;
	top: 35px;
	right: 0px;
}
.e-mail,
.password {
	position: absolute;
	width: 227px;
	height: 44px;
	border-radius: 5px;
	background-color: #ffffff;
	border: 1px solid #d3d3d2;
	font-size: 14px;
	line-height: 24px;
	right: 19px;
	padding-left: 14px;
	z-index: 1000;
}
.e-mail:hover,
.password:hover,
.name:hover,
.e-mail-answer:hover,
.comment:hover {
	right: 17px;
	border: 2px solid #9a9a9a;
}
.e-mail:focus,
.password:focus,
.name:focus,
.e-mail-answer:focus,
.comment:focus {
	border: 2px solid #2e88e4;
	font-weight: bold;
	outline: none;
}
.e-mail {
	top: 20px;
}
.password {
	top: 84px;
}
.login-link{
	position: absolute;
	width: 100px;
	height: 33px;
	top: 148px;
	left: 19px;
	padding-top: 11px;
	font-size: 18px;
	line-height: 24px;
}
.login-reminder,
.registration {
	position: absolute;
	font-size: 13px;
	line-height: 15px;
	color: #323232;
	text-decoration: none;
	border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}
.login-reminder {
	top: 148px;
	left: 139px;
}
.registration {
	top: 168px;
	left: 139px;
}
.login-reminder:hover,
.registration:hover,
.login-reminder:active,
.registration:active {
	color: #e84d37;
	border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}
.enter:hover {
	background-color: #f8f7f4;
	color: #323232;
	background-position: 3px -231px;
}
.enter-padding:hover .login  {
	display: block;
}
.cart-empty {
	width: 117px;
	height: 32px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
	background-color: rgba(225, 225, 225, 0.2);
	border-radius: 50px;
	background-position: 5px -3px;
}
.cart-empty-label {
	position: absolute;
	margin-left: 44px;
	margin-top: 8px;
}
.cart-empty:hover {
	background-color: #f8f7f4;
	color: #323232;
}
.cart-with-item {
	position: relative;
	width: 117px;
	height: 32px;
	background-color: #f8f7f4;
	border-radius: 50px;
	background-position: 6px -43px;
}
.cart-with-item-padding {
	position: relative;
	z-index: 1000;
}
.cart-with-item-label {
	position: absolute;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #323232;
	margin-left: 43px;
	margin-top: 8px;
}
.cart {
	display: none;
	position: absolute;
	width: 539px;
	height: 242px;
	padding: 0;
	margin: 0;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4) ;
	top: 35px;
	right: 0px;
	color: #323232;
	font-size: 13px;
	line-height: 16px;
}
.cart-with-item:hover {
	background-color: #f8f7f4;
}
.cart-with-item-padding:hover .cart {
	display: block;
}
table {
	width: auto;
	height: auto;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	border-collapse: separate;
	border-spacing: 10px;
	border-bottom: 1px solid #cacac7;
}
.cross {
	position: relative;
	background-image: url("../img/cross.svg");
	background-repeat: no-repeat;
	top: 10px;
	left: 0px;
	width: 10px;
	height: 10px;
}
.ice-name {
	width: 220px;
	padding-left: 0px;
}
.price-mark {
	opacity: 0.5;
}
.price-calculate {
	width: 95px;
	padding-left: 10px;
	padding-right: px;
}
.total-calculate {
	width: 55px;
	text-align: center;
	padding: 0;
}
.total-price {
	font-size: 15px;
	line-height: 18px;
	float: right;
	padding-right: 20px
}
.order {
	position: absolute;
	width: 170px;
	height: 35px;
	padding-top: 10px;
	font-size: 18px;
	line-height: 24px;
	right: 14px;
	bottom: 21px;
}
.contacts {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	padding: 0px;
	padding-top: 8px;
	text-align: end;
	top: 52px;
	right: 30px;
	position: absolute;
}
.phone {
	font-size: 22px;
	line-height: 24px;
	margin-top: -10px;
	text-align: end;
}
.promo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0;
	margin: 0;
	margin-top: 44px;
	margin-bottom: 16px;
}
.promo-item {
	width: 560px;
	min-height: 130px;
	position: relative;
	padding-bottom: 100px;
}
.rasberry {
	background-image: url("../img/raspberry-bg.jpg");
	background-size: cover;
	background-color: #721427;
	background-repeat: no-repeat;
	border-radius: 20px;
}
.chokolate {
	background-image: url("../img/chocolate-bg.jpg");
	background-size: cover;
	background-color: #43291e;
	background-repeat: no-repeat;
	border-radius: 20px;
}
.promo h2 {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	padding: 0;
	margin: 0;
	padding-top: 16px;
	padding-left: 19px;
}
.promo p {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	padding: 0;
	margin: 0;
	padding-top: 14px;
	padding-left: 20px;
	padding-right: 20px;
}
.promo-btn  {
	position: absolute;
	font-size: 18px;
	line-height: 24px;
	width: 165px;
	height: 35px;
	padding-top: 11px;
	bottom: 24px;
	right: 22px;
}
.choko {
	padding-left: 10px;
	padding-right: 10px;
}
.products {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 0;
	margin: 0;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.product-item {
	position: relative;
	width: 267px;
	min-height: 300px;
	margin-top: 24px;
}
.hover-block {
	display: none;
	position: absolute;
	width: 293px;
	height: 120%;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	top: -6px;
	right: -15px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	z-index: -1;
}
.hover-button {
	position: absolute;
	font-size: 18px;
	line-height: 24px;
	width: 200px;
	height: 34px;
	bottom: 23px;
	left: 46px;
	padding-top: 10px;
}
.product-item:hover {
	z-index: 2000;
}
.guidance:hover span {
	border-bottom: none;
}
.product-item:hover .hover-block {
	display: block;
	z-index: -1;
}
.hit {
	position: absolute;
	width: 61px;
	height: 61px;
	background-position: -10px -329px;
}
.product-img {
	border-radius: 160px;
	margin: 0;
	padding: 0;
}
.product-item b {
	position: absolute;
	font-size: 45px;
	line-height: 45px;
	top: 208px;
	left: 0;
}
.product-item .kilogram {
	font-size: 30px;
	border-bottom: none;
	margin-left: 5px;
}
.product-item h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
	margin-top: 6px;
	margin-left: 0px;
	margin-right: 10px;
}
.product-item .underline {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.breadcrumbs-link:hover,
.breadcrumbs-link:active,
.footer-nav:hover,
.footer-nav:active,
.footer-link:hover,
.footer-link:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}
.shop-description {
	position: relative;
	background-image: url("../img/waffle-bg.png");
	background-color: #eaddc2;
	border-radius: 10px;
	height: 306px;
	margin-top: 22px;
	margin-bottom: 39px;
}
.shop-description h2,
.news-and-subsrcribe a {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
}
.shop-description p,
.news-and-subsrcribe h2 {
	font-size: 16px;
	line-height: 22px;
	color: #323232;
}
.shop-description h2 {
	padding-left: 20px;
	padding-top: 25px;
}
.descriptions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.description {
	width: 490px;
	min-height: 88px;
	margin: 0;
	padding: 0;
	margin-left: 76px;
	margin-top: 1px;
}
.description-logo {
	position: absolute;
	width: 49px;
	height: 49px;
}
.logo1 {
	top: 94px;
	left: 20px;
	background-position: -10px -410px;
}
.logo2 {
	background-position: -10px -531px;
	left: 20px;
	top: 184px;
}
.logo3 {
	background-position: -10px -130px;
	left: 585px;
	top: 94px;
}
.logo4 {
	background-position: -10px -780px;
	top: 184px;
	left: 585px;
}
.news-and-subsrcribe {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0;
	margin-bottom: 41px;
}
.item {
	width: 560px;
	height: 220px;
	position: relative;
}
.news {
	background-image: url("../img/news-strawberry-bg.jpg");
	background-repeat: no-repeat;
	border-radius: 15px;
	background-color: #ffffff;
}
.news h2 {
	padding: 0;
	margin: 0;
	margin-top: 23px;
	padding-left: 20px;
}
.news-link {
	display: block;
	margin: 0;
	padding: 0;
	width: 287px;
	margin-left: 20px;
	margin-top: 5px;
}
.subscribe {
	position: relative;
	background-color: #f8f7f4;
	background-image: url("../img/letter-patern.png");
	border-radius: 20px;
	margin: 0;
	padding: 0;
}
.subscribe p {
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #5a5a5a;
	padding-left: 20px;
	padding-top: 13px;
}
.white-background {
	position: absolute;
	width: 548px;
	height: 210px;
	margin: 0;
	padding: 0;
	background-color: #f8f7f4;
	border-radius: 20px;
	top: 6px;
	right: 6px;
}
.subscribe .e-mail {
	position: absolute;
	width: 350px;
	top: 130px;
	right: 163px;
}
.subscribe-btn {
	position: absolute;
	width: 128px;
	height: 43px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	right: 21px;
	top: 131px;
	border: none;
}
.map {
	width: 100%;
}
iframe {
	border: 0;
	width:100%
}
.map-interactive {
	display: block;
	width: 100%;
	height: 432px;
	background: url("../img/map-and-ponter.jpg");
}
.adress {
	position: absolute;
	width: 276px;
	height: 290px;
	background-color: #ffffff;
	border-radius: 20px;
	font-size: 14px;
	line-height: 20px;
	color: #323232;
	padding: 0;
	margin: 0;
	padding-top: 15px;
	padding-left: 26px;
	right: 27px;
	top: 62px;
}
.adress p {
	margin: 0;
	padding: 0;
	margin-top: 14px;
}
.for-order {
	padding-top: 18px;
}
.for-order p {
	margin-top: 5px;
}
.adress span {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}
.connection-form {
	position: absolute;
	width: 251px;
	height: 33px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	padding-top: 10px;
	bottom: 31px;
}
.main-footer {
	padding-bottom: 14px;
}
.main-footer-layout {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.footer-social {
	width: 267px;
	min-height: 34px;
	margin-left: 0;
	padding-top: 25px;
}
.social-btn {
	display: inline-block;
	width: 32px;
	height: 32px;
	font-size: 0;
	border-radius: 50px;
	border: 3px solid rgba(255, 255, 255, 0.5);
	margin-left: 0px;
	margin-right: 7px;
	opacity: 0.8;
	vertical-align: middle;
}
.social-btn:hover{
	opacity: 1;
}
.social-btn:active {
	opacity: 1;
	box-shadow: inset 0 2px 1px 0 #696969;
}
.social-btn-tw {
	background-position: -10px -849px;
}
.social-btn-in {
	background-position: -10px -479px;
}
.social-btn-fb {
	background-position: -10px -277px;
}
.social-btn-vk {
	background-position: -10px -901px;
}
.footer-navigation {
	width: 334px;
	margin: 0;
	padding: 0;
	margin-left: 155px;
	padding-top: 23px;
}
.navigation {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 0;
	margin: 0;
}
.navigation-link  {
	width: 112px;
}
.footer-nav {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.navigation-link:nth-child(2n) {
	width: 164px;
	margin-left: 30px;
}
a.footer-nav {
	position: relative;
	font-size: 13px;
	line-height: 16px;
	text-decoration: none;
	font-size: 400;
	color: #ffffff;
	font-weight: 300;
}
li:first-child a.footer-nav{
	font-weight: bold;
	position: relative;
}
.navigation a.heart:before {
	content: "";
	display: block;
	width: 15px;
	height: 13px;
	position: absolute;
	background-image: url("../img/heart-icon.png");
	top: 2px;
	left: -22px;
}
.footer-copyright {
	position: relative;
	font-size: 12px;
	width: 204px;
	margin-left: auto;
	top: 25px;
	left: 7px;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
}
.footer-logo {
	position: absolute;
	top: -15px;
	left: 10px;
}
.footer-copyright p {
	position: absolute;
	top: 13px;
	font-weight: normal;
	left: 10px;
}
.footer-link {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/* СЕТКА CATALOG */
.breadcrumbs ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	margin-top: 9px;
	margin-bottom: 2px;
}
.breadcrumbs li {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-right: 20px;
	position: relative;
}
.breadcrumbs-link {
	position: relative;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	font-weight: 300;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	text-decoration: none;
}
.milky {
	border-bottom: none;
}
.milky:hover,
.milky:active {
	color: #ffffff;
	border-bottom: none;
}
.main-page:before {
	content: "";
	position: absolute;
	display: block;
	background: #ffffff;
	height: 1px;
	width: 5px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	top: 6px;
	left: 60px;
}
.main-page:after {
	content: "";
	position: absolute;
	display: block;
	background: #ffffff;
	height: 1px;
	width: 5px;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	bottom: 6px;
	left: 60px;
}
.catalog-page1:before {
	content: "";
	position: absolute;
	display: block;
	background: #ffffff;
	height: 1px;
	width: 5px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	top: 6px;
	left: -10px;
}
.catalog-page1:after {
	content: "";
	position: absolute;
	display: block;
	background: #ffffff;
	height: 1px;
	width: 5px;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	bottom: 6px;
	left: -10px;
}
.milky:before {
	content: "";
	position: absolute;
	display: block;
	background: #ffffff;
	height: 1px;
	width: 5px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	top: 6px;
	left: -13px;
}
.milky:after {
	content: "";
	position: absolute;
	display: block;
	background: #ffffff;
	height: 1px;
	width: 5px;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	bottom: 6px;
	left: -13px;
}
.empty-link:before {
	content: "";
	position: absolute;
	display: block;
	background: #ffffff;
	height: 1px;
	width: 5px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	top: 9px;
	left: -103px;
}
.empty-link:after {
	content: "";
	position: absolute;
	display: block;
	background: #ffffff;
	height: 1px;
	width: 5px;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	bottom: -14px;
	left: -103px;
}
.catalog-title {
	font-size: 35px;
	line-height: 41px;
	padding: 0;
	padding: 0;
	margin-top: 0;
	margin-bottom: 27px;
}
.search-criteria {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-bottom: -4px;
}
.sort {
	position: relative;
	width: 193px;
	height: 60px;
	margin-right: 12px;
	margin-top: -4px;
}
.sort label {
	position: absolute;
	top: 1px;
	left: 16px;
}
.sort label,
.fat legend,
.filler legend {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}
.sort select {
	position: absolute;
	width: 193px;
	height: 36px;
	bottom: 0;
	left: 0;
	border: none;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	color: #ffffff;
	padding-left: 13px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 600px;
}
.sort select:hover {
	background-color: #ffffff;
	color: #323232;
}
.filter-range {
	position: relative;
	width: 218px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	margin-top: -2px;
	margin-right: 12px;
	margin-left: 5px;
}
.filter-range-title {
	margin-left: 13px;
}
.price-controls {
	position: absolute;
	top: -1px;
	left: 54px;
}
.price-controls label + input {
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	vertical-align: top;
}
.price-controls label,
.price-controls input   {
	cursor: pointer;
}
.price-controls input {
	width: 27px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}
.range-controls {
	position: relative;
	margin-top: 5px;
	width: 218px;
	height: 36px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50px;
}
.range-controls .scale {
	position: absolute;
	left: 15px;
	top: 18px;
	height: 4px;
	width: 188px;
	background: rgba(255, 255, 255, 0.5);
}
.range-controls .bar {
	position: absolute;
	margin-left: 20px;
	left: 13px;
	width: 102px;
	height: 4px;
	background: #ffffff;
}
.range-toggle {
	position: absolute;
	top: 10px;
	width: 20px;
	height: 20px;
	background: #ffffff;
	border-radius: 50%;
	cursor: pointer;
}
.range-toggle-min {
	left: 34px;
}
.range-toggle-max {
	left: 130px;
}
.fat {
	position: relative;
	border: none;
	position: relative;
	margin-bottom: 20px;
}
.fat-range {
	position: absolute;
	width: 394px;
	height: 21px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 20px;
	left: 0;
	top: 20px;
}
.fat legend {
	position: absolute;
	top: -2px;
	left: 12px;
}
.fat label,
.filler label,
.btn-search-criteria {
	font-size: 16px;
	line-height: 18px;
	margin-right: 10px;
	font-weight: normal;
}
input[type="radio"] {
	display: none;
}
input[type="radio"] + label {
	display: inline-block;
	position: relative;
	padding-left: 30px;
	padding-top: 5px;
	margin-right: 14px;
	color: #ffffff;
	cursor: pointer;
	vertical-align: middle;
}
input[type="radio"] + label:before {
	content: "";
	display: block;
	width: 17px;
	height: 17px;
	border: 1px solid #ffffff;
	position: absolute;
	left: -2px;
	top: 4px;
	margin: 0;
	padding: 0;
	border-radius: 50px;
}
input[type="radio"] + label:hover:before,
input[type="checkbox"] + label:hover:before,
input[type="radio"]:checked + label:hover:before  {
	border: 2px solid #ffffff;
	top: 3px;
	left: -3px;
}
input[type="checkbox"] + label:hover:before {
	top: -1px;
	left: 2px;
}
input[type="radio"]:disabled + label:before,
input[type="checkbox"]:disabled + label:hover:before {
	opacity: 0.4;
}
input[type="checkbox"]:checked + label:hover:before {
	display: block;
	background-image: url("../img/checked-checkbox-active.png");
	background-repeat: no-repeat;
	position: 100% 100%;
	top: 0px;
	left: 3px;
}
input[type="radio"]:checked + label:after {
	content: "";
	display: block;
	position: absolute;
	width: 11px;
	height: 11px;
	background: #ffffff;
	border-radius: 50px;
	left: 3px;
	top: 9px;
}
input[type="radio"]:checked + label:before {
	content: "";
	display: block;
	width: 19px;
	height: 19px;
	border: 1px solid #ffffff;
	position: absolute;
	right: 1px;
	top: 4px;
	border-radius: 50px;
}
.filler {
	position: relative;
	width: 702px;
	min-height: 60px;
	margin-right: 15px;
	margin-top: 14px;
	margin-bottom: 0px;
	border: none;
}
.filler legend {
	margin-left: 3px;
	padding-top: 3px;
}
.filler-range {
	position: absolute;
	width: 682px;
	height: 21px;
	margin: 0;
	padding: 0;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 13px;
	left: 0;
}
input[type="checkbox"] {
	display: none;
}
input[type="checkbox"] + label {
	display: inline-block;
	position: relative;
	padding-left: 38px;
	margin-bottom: 2px;
	color: #ffffff;
	cursor: pointer;
	vertical-align: bottom;
}
input[type="checkbox"] + label:before {
	content: "";
	display: block;
	width: 18px;
	height: 18px;
	border: 1px solid #ffffff;
	position: absolute;
	left: 3px;
	top: 0;
	border-radius: 5px;
}
input[type="checkbox"]:checked + label:before {
	border: none;
	width: 25px;
	height: 25px;
	background-image: url("../img/checked-checkbox.png");
	background-repeat: no-repeat;
	position: 100% 100%;
}
.btn-search {
	width: 143px;
	min-height: 60px;
	margin-top: 30px;
	margin-left: -22px;
}
.btn-search-criteria {
	width: 143px;
	height: 36px;
	border: none;
	background-color: rgba(255, 255, 255, 0.2);
	margin-top: 8px;
	border-radius: 20px;
	color: #ffffff;
	border: 2px solid #ffffff;
	font-weight: 500;
}
.btn-search-criteria:hover {
	background-color: #ffffff;
	color: #323232;
	font-weight: 600;
}
.btn-search-criteria:active {
	border: none;
	background-color: #ededed;
	color: #323232;
	font-weight: 600;
	box-shadow: inset 0 2px 1px 0 #696969;
}
.pagination {
	margin: 0;
	padding: 0;
	margin-top: 65px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding-bottom: 30px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin-bottom: 8px;
	margin-right: -8px;
}
.pagination li {
	padding: 0;
	margin: 0;
	list-style: none;
	min-width: 26px;
	height: 26px;
	margin-right: 0px;
	margin-left: 2px;
	text-align: center;
	cursor: pointer;
	vertical-align: center;
}
.pagination li:last-child {
	margin-right: 0;
}
.pagination .active {
	display: inline-block;
	width: 26px;
	height: 24px;
	background-color: #ffffff;
	color: #323232;
	border-radius: 50%;
	vertical-align: middle;
}
.catalog-page {
	text-decoration: none;
	color: #ffffff;
	font-weight: 500;
	display: block;
	width: 26px;
	height: 24px;
	padding-top: 2px;
}
.pagination .next,
.pagination .prev {
	position: relative;
	display: block;
	width: 26px;
	height: 24px;
}
.pagination .next {
	margin-left: 5px;
}
.catalog-page:hover:not(.active) {
	display: block;
	width: 26px;
	height: 24px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
}
.prev:before {
	position: absolute;
	display: block;
	content: "";
	width: 2px;
	height: 9px;
	background-color: rgba(255, 255, 255, 0.2);
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	top: 5px;
	left: 10px;
}
.prev:after {
	position: absolute;
	display: block;
	content: "";
	width: 2px;
	height: 9px;
	background-color: rgba(255, 255, 255, 0.2);
	top: 11px;
	left: 10px;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.next:before {
	position: absolute;
	display: block;
	content: "";
	width: 2px;
	height: 9px;
	background-color: #ffffff;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	top:5px;
	right: 11px;
}
.next:after {
	position: absolute;
	display: block;
	content: "";
	width: 2px;
	height: 9px;
	background-color: #ffffff;
	top: 11px;
	right: 11px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
@-webkit-keyframes bounce {
  0%   {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  70%  {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes bounce {
  0%   {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  70%  {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
.modal-content {
	top: 20vh;
	position: fixed;
	display: none;
	width: 477px;
	height: 442px;
	background-color: #f8f7f4;
	border-radius: 10px;
	left: 50%;
	margin-left: -238px;
	z-index: 3000;
	margin-bottom: 200px;
}
.modal-content-close {
	position: absolute;
	top: 15px;
	right: 16px;
	width: 20px;
	height: 20px;
	font-size: 0;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
	content: "";
	position: absolute;
	top: 9px;
	left: 1px;
	width: 19px;
	height: 3px;
	background-color: #323232;
	border-radius: 1px;
}
.modal-content-close::before {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.modal-content-close::after {
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.modal-content-title {
	padding: 0;
	margin: 0;
	color: #323232;
	font-size: 24px;
	line-height: 28px;
	margin-left: 24px;
	margin-top: 18px;
	font-weight: normal;
}
.name,
.e-mail-answer {
	position: absolute;
	width: 267px;
	height: 44px;
	padding-left: 15px;
	border-radius: 5px;
	background-color: #ffffff;
	border: 1px solid #d3d3d2;
	font-size: 16px;
	line-height: 24px;
}
.name {
	top: 63px;
	left: 24px;
}
.e-mail-answer {
	top: 130px;
	left: 24px;
}
.comment {
	position: absolute;
	width: 413px;
	height: 155px;
	border-radius: 5px;
	padding-left: 15px;
	background-color: #ffffff;
	border: 1px solid #d3d3d2;
	font-size: 16px;
	line-height: 24px;
	top: 191px;
	left: 24px;
	resize: none;
}
.name-label,
.e-mail-answer-label,
.comment-label {
	position: absolute;
	font-size: 16px;
	line-height: 24px;
	color: #999999;
	font-weight: normal;
	left: 40px;
}
.name-label {
	top: 74px;
}
.e-mail-answer-label {
	top: 140px;
}
.comment-label {
	top: 201px;
}
.modal-btn {
	position: absolute;
	top: 371px;
	right: 25px;
	width: 138px;
	padding-left: 24px;
	padding-right: 24px;
}
.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2500;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}
.modal-content-show {
  display: block;
  -webkit-animation: bounce 0.8s;
          animation: bounce 0.8s;
}
.modal-error {
  -webkit-animation: shake 0.8s;
          animation: shake 0.8s;
}		